<h1>Users!</h1>
<%= link_to "//Home", root_path %>
<hr>
<% @users.each do |user| %>
  <%= image_tag avatar_url(user) %>
  <h2><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></h2>
  <hr>
<% end %>

